@{
    ViewData["Title"] = "Finalizare Comandă";
}

<h2>Comanda a fost plasată cu succes!</h2>
<p>Mulțumim pentru achiziția ta. Vei primi detalii pe email.</p>

<a href="/" class="btn btn-primary">Înapoi la magazin</a>
