@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit la Comics Store</h1>
    <p>Cele mai bune benzi desenate la cele mai bune prețuri!</p>
    <a class="btn btn-primary" href="/products">Vezi Produsele</a>
</div>
